@if (!($loading | async)) {
  <div class="flex align-items-center gap-6">
    <h1>{{ getPersonName() }}</h1>
    @if (keycloakService.isLoggedIn() && keycloakService.isUserInRole(Role.ADMIN)) {
      <app-person-form [person]="person"
                       (personChanged)="init()"/>
    }
  </div>

  <div>{{ getPersonRoles() }}</div>

  <app-image [imageId]="person.imageId"
             [personId]="personId"
             [useStock]="false"/>

  <div class="flex flex-column">
    <div class="flex align-items-center gap-3">
      <h3>Born: </h3>
      <span style="font-size: 1.15rem;">
      {{ person.birthDate | date: 'dd.MM.yyyy' }}
    </span>
    </div>

    <div class="flex align-items-center gap-3">
      <h3>Country: </h3>
      <span style="font-size: 1.15rem;">
      {{ countryService.getCountryName(person.country) }}
    </span>
    </div>

    @if (person.bio) {
      <p-panel [toggleable]="true" styleClass="mt-2">
        <ng-template #header>
          <h3>Storyline</h3>
        </ng-template>
        <p class="m-0">
          {{ person.bio }}
        </p>
      </p-panel>
    }
  </div>

} @else {
  <app-loading message="Loading person data. Please wait..."></app-loading>
}
