<div class="my-2">
  <div class="flex justify-content-between align-items-center">
    <h2>Cast</h2>
    @if (keycloakService.isLoggedIn() && keycloakService.isUserInRole(Role.ADMIN)) {
      <p-button label="Add character"
                icon="pi pi-plus"
                (onClick)="openDialog = true"/>
    }
  </div>

  <div class="flex flex-row justify-content-start gap-3 flex-wrap">
    @for (character of characters; track character.characterId) {
      <div class="flex align-items-center"
           style="min-width: 250px;">
        <p-avatar [image]="getImageUrl(character.actor)"
                  (click)="showPerson(character.actor.personId)"
                  class="mr-2"
                  size="xlarge"
                  shape="circle">
        </p-avatar>

        <div class="flex flex-column align-items-center" style="width: 80%"
             (click)="showPerson(character.actor.personId)">
          <div class="font-bold">{{ character.actor.firstName }} {{ character.actor.lastName }}</div>
          <div class="text-color-secondary">{{ character.characterName }}</div>
        </div>

        @if (keycloakService.isLoggedIn() && keycloakService.isUserInRole(Role.ADMIN)) {
          <i class="pi pi-times-circle"
             style="cursor: pointer"
             (click)="initRemoveCharacter(character)"></i>
        }
      </div>
    } @empty {
      No characters are assigned to {{ mediaType | lowercase }}.
    }
  </div>
</div>

<p-dialog [(visible)]="openDialog"
          [modal]="true"
          [resizable]="false"
          [draggable]="false"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          header="Create character">
  <form #form="ngForm">
    <div class="flex align-items-center gap-4 mb-4">
      <label for="characterName" class="font-semibold w-9rem">Character name</label>
      <input pInputText
             required
             id="characterName"
             class="flex-auto"
             autocomplete="off"
             name="characterName"
             [(ngModel)]="characterName" />
    </div>

    <div class="flex align-items-center gap-4 mb-4">
      <label for="people" class="font-semibold w-9rem">Actor</label>
      <p-dropdown [options]="dropdownPersons"
                  [showClear]="true"
                  [required]="true"
                  [(ngModel)]="person"
                  class="flex-auto"
                  name="person"
                  id="people"
                  placeholder="Select a person"
                  appendTo="body">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="person">
            {{ person.firstName }} {{ person.lastName }}
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{ item.firstName }} {{ item.lastName }}
        </ng-template>
      </p-dropdown>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Save"
              icon="pi pi-save"
              [disabled]="form.invalid"
              (click)="createCharacter()" />
  </ng-template>
</p-dialog>

