<p-menubar [model]="items">
  <ng-template pTemplate="item" let-item let-root="root">
    @if (item.routerLink) {
      <a pRipple [routerLink]="item.routerLink" class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      </a>
    } @else {
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      </a>
    }
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" (click)="keycloakService.logout()" />
    </div>
  </ng-template>
</p-menubar>
