<p-menubar [model]="items">
  <ng-template pTemplate="item" let-item let-root="root">
    @if (item.routerLink) {
      <a pRipple [routerLink]="item.routerLink" class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      </a>
    } @else {
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      </a>
    }
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      @if (keycloakService.isLoggedIn()) {
        <p-avatar image="assets/avatar-stock.jpg"
                  shape="circle"
                  size="normal"
                  (click)="keycloakService.logout()" />
      } @else {
        <p-button label="Login"
                  icon="pi pi-user"
                  iconPos="left"
                  (onClick)="keycloakService.login()">
        </p-button>
      }
    </div>
  </ng-template>
</p-menubar>
