@if (people$ | async; as people) {

  @if (keycloakService.isLoggedIn() && keycloakService.isUserInRole(Role.ADMIN)) {
    <app-person-form class="mt-2" (personChanged)="people$ = personService.getPersons()"/>
  }

  <div class="flex flex-wrap justify-content-start gap-5">
    @for (person of people; track person.personId) {
      <p-card [style]="{ width: '300px', overflow: 'hidden' }"
              class="mt-3"
              (click)="router.navigate([UiRoutes.Person, person.personId])">
        <ng-template #header>
          <div class="image-container">
            <app-image [imageId]="person.imageId"
                       [useStock]="true"
                       [width]="300"
                       [height]="250"
                       [allowOperations]="false"/>

            @if (keycloakService.isLoggedIn() && keycloakService.isUserInRole(Role.ADMIN)) {
              <p-button icon="pi pi-trash"
                        severity="danger"
                        size="small"
                        class="corner-button"
                        (onClick)="initRemovePerson(person)">
              </p-button>
            }
          </div>
        </ng-template>
        <ng-template #title>{{ person.firstName }} {{ person.lastName }}</ng-template>
        <ng-template #subtitle> {{ person.birthDate | date: 'd.M.yyyy' }} </ng-template>
        <p>{{ person.bio | maxLength: 50 }}</p>
      </p-card>
    } @empty {
      <ng-container [ngTemplateOutlet]="noPeople"/>
    }
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="noPeople"/>
}

<ng-template #noPeople>
  <div class="flex justify-content-center align-items-center" style="min-height: 95vh; height: 100%">
    <h2>No people found</h2>
  </div>
</ng-template>
